.card {    
    max-width: 180px;
    display: flex;
    flex-direction: column;
    /* justify-content: start; */
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 12px 28px rgba(0, 0, 0, 0.08);
    transition: all 0.3s ease;
    cursor: pointer;
}

.card.card-detail {
    /* estilo especial para Item dentro de ItemDetail */
    max-width: none;
    width: 90%;
    

    /* border: 3px solid #0773ef; */
    /* padding: .5rem; */
    /* background: #f20a50; */

    /* background: #0773ef; */
}

/* Imagen */
.card img {
    width: 100%;
    height: auto;
    object-fit: cover;
    /* border-radius: 12px 12px 0 0; */
}

/* Contenido */
/* .card-content {
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;
} */

/* .card-content h3 {
    margin: 0;
    font-size: 1.1rem;
    font-weight: 600;
} */

/* .card-content p {
    margin: 0;
    opacity: 0.85;
} */