* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;  
}

/* Para que el footer quede abajo siempre hay que mantener la estructura de Header-Main-Footer */
#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


