/* NAVBAR */
/* .nav {
    background-color: #4764f7;
    border: 2px solid #f6f33e;
} */

/* Contenedor UL */
.nav-list {
    list-style: none;
    display: flex;
    gap: 1.5rem;
    margin: 0;
    padding: 0;
    align-items: center;
}

/* Links */
.nav-list li a {
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 500;
    color: #ffffff;
    opacity: 0.9;
    /* transition: all 0.3s ease; */
}



/* Hover moderno con glow */
.nav-list li a:hover {
    opacity: 1;
    transform: scale(1.1);
    transition: all 0.3s ease;
    display: inline-block;
    /* transform: scale(1.5); */
    color: rgb(23, 246, 246);
    /* Glow principal */
    filter: drop-shadow(0 0 12px rgba(11, 217, 249, 0.6));
    /* Glow extra */
    text-shadow:
        0 0 12px rgba(11, 217, 249, 0.6),
        0 0 25px rgb(23, 246, 246);
    
}





